<!DOCTYPE html>
<%- include ('./partials/head') %>
<body>
  <%- include ('./partials/header') %>
  <div class="container">
    <h1><%= postTitle %></h1>
    <p><%= postBody %></p>
  </div>
  <%- include ('./partials/footer') %>
</body>
</html>